
  <div>
    <form action='/auth/login' method='POST'>
      <div class='input-field col s6 m4 l12'>
        <label for='email'>Email</label>
        <input id='email' class='validate center-align' type='email' name='email'>
      </div>

      <div class='input-field col s6 m4 l12'>
        <label for='password'>Password</label>
        <input id='password' class='validate center-align' type='password' name='password'>
      </div>

      <div>
        <input class='btn blue' type='submit'>
      </div>
    </form>
  </div>
