<form action='/auth/login' method='POST'>
  <div class='input-field col s6 m4 l12'>
    <label for='email'>Email</label>
    <input id='email' class='validate center-align' type='email' name='email' value='danheyward@gmail.com'>
  </div>

  <div class='input-field col s6 m4 l12'>
    <label for='password'>Password</label>
    <input id='password' class='validate center-align' type='password' name='password' value='password'>
  </div>

  <input class='btn btn-primary' type='submit'>
</form>
<!-- <script type='text/javascript' src='/js/app.js'></script>
<script type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js'></script> -->
