<form action="/auth/signup" method="POST">

  <div class="form-group">
    <label for="authName">Name</label>
    <input id="authName" class="form-control" type="text" name="name">
  </div>

  <div class="form-group">
    <label for="authEmail">Email</label>
    <input id="authEmail" class="form-control" type="email" name="email">
  </div>

  <div class="form-group">
    <label for="authPassword">Password</label>
    <input id="authPassword" class="form-control" type="password" name="password">
  </div>

  <div class="form-group">
    <label for="authAddress">Address</label>
    <input type="text" class="form-control" id="authAddress" placeholder="1234 Main St" name="address">
  </div>

  <div class="form-group">
    <label for="authAddress2">Address 2</label>
    <input type="text" class="form-control" id="authAddress2" placeholder="Apartment, studio, or floor" name="address2">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="authCity">City</label>
      <input type="text" class="form-control" id="authCity" name="city">
    </div>

    <div class="form-group col-md-4">
      <label for="authState">State</label>
      <select id="authState" class="form-control" name="state">
        <option>AL</option><option>AK</option><option>AZ</option><option>AR</option><option>CA</option>
        <option>CO</option><option>CT</option><option>DE</option><option>FL</option><option>GA</option>
        <option>HI</option><option>ID</option><option>IL</option><option>IN</option><option>IA</option>
        <option>KS</option><option>KY</option><option>LA</option><option>ME</option><option>MD</option>
        <option>MA</option><option>MI</option><option>MN</option><option>MS</option><option>MO</option>
        <option>MT</option><option>NE</option><option>NV</option><option>NH</option><option>NJ</option>
        <option>NM</option><option>NY</option><option>NC</option><option>ND</option><option>OH</option>
        <option>OK</option><option>OR</option><option>PA</option><option>RI</option><option>SC</option>
        <option>SD</option><option>TN</option><option>TX</option><option>UT</option><option>VT</option>
        <option>VA</option><option>WA</option><option>WI</option><option>WV</option><option>WY</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="authZipcode">Zipcode</label>
      <input type="text" class="form-control" id="authZipcode" name="zipcode">
    </div>
  </div>

  <div class="form-group">
    <label for="authParty">Party</label>
    <select class="form-control" id="authParty" name="party">
      <option>Democrat</option>
      <option>Republican</option>
      <option>Independent</option>
      <option>Other</option>
      <option>N/A</option>
  </div>

  <input class="btn btn-primary" type="submit">
</form>
