<footer class="page-footer blue">
  <div class="container">
    <div>
      <div id='footer-text'>
        <p class="white-text">Made possible thanks to the <a class='footer-link' href='https://developers.google.com/civic-information/' target='_blank'>Google Civic Information API</a> and <a href='https://www.propublica.org/datastore/api/propublica-congress-api' class='footer-link' target='_blank'>ProPublica Congress API</a></p>
    </div>
  </div>
    <div id='copyright' class="container">
    <small>© 2018 Daniel Heyward</small>
    </div>
  </div>
</div>
</footer>
