<div class='navbar-fixed'>
  <ul id="dropdown1" class="dropdown-content">
    <% if (currentUser === undefined) { %>
      <li><a class='orange-text' href='/auth/signup'>signup</a></li>
      <li class='divider'></li>
      <li><a class='orange-text' href='/auth/login'>login</a></li>
    <% } else { %>
      <li><a class='orange-text' href='/profile'>my profile</a></li>
      <li class='divider'></li>
      <li><a class='orange-text' href='/profile/ballots'>my ballots</a></li>
      <li class='divider'></li>
      <li><a class='orange-text' href='/auth/logout'>logout</a></li>
    <% } %>
  </ul>
<nav class='white'>
  <div class='nav-wrapper'>
    <a href='/' class='blue-text brand-logo center'>slacktivism</a>
    <ul id="nav-mobile" class="right">
      <li><a class="dropdown-button blue-text" href="#!" data-activates="dropdown1">menu<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
</div>
