<div class="image-slider carousel carousel-slider center" data-indicators="false">
  <div class="carousel-fixed-item center">
      <small class="right white-text">Photo by Jose Moreno</small>
  </div>
  <a class="carousel-item" href="#"><img class='banner' alt='Photo by Jose Moreno; man holding make america think again sign' src='../img/jose-moreno.jpg'></a>
</div>

<main class='center'>

</main>
