<div class='hero blue centered'>
  <div class='hero-box white-text s12'>
    <div class='hero-text'>
      <br/><br/><br/>
      <h5 id='slacktivism'>slack·tiv·ism</h5>
      <h6>/ˈslaktəˌvizəm/</h6>
      <small>noun <i>informal</i></small>
      <p>Actions performed via the Internet in support of a political or social
        cause but regarded as requiring little time or involvement, e.g., signing
        an online petition or joining a campaign group on a social media website.
      </p>
    </div>

  </div>
</div>

<main class='center s12'>
  <div class='row'>
    <div class='right-content'>
      <div class='right-content-div'>
        <i class='material-icons orange-text medium'>looks_one</i>
        <h5 class='orange-text'>Sign up / login with your <br/>registered voting address</h5>
        <i class='material-icons orange-text medium'>looks_two</i>
        <h5 class='orange-text'>Cast your votes</h5>
        <i class='material-icons orange-text medium'>looks_3</i>
        <h5 class='orange-text'>Share your voice</h5>
      </div>
    </div>
  </div>
</main>
