<!-- <div class="image-slider carousel carousel-slider center" data-indicators="false">
  <div class="carousel-fixed-item center">
      <small class="right white-text">Photo by Jose Moreno</small>
  </div>
  <a class="carousel-item" href="#"><img class='banner' alt='Photo by Jose Moreno; man holding make america think again sign' src='../img/jose-moreno.jpg'></a>
</div> -->

<main class='center'>
  <div class='row'>
    <!-- <div class='left-content blue'>
      <h3 class='white-text'>steps</h3>
    </div> -->
    <div class='right-content'>
      <div class='right-content-div'>
        <i class='material-icons orange-text medium'>looks_one</i>
        <h5 class='orange-text'>Sign up with your registered voting address</h5>
        <i class='material-icons orange-text medium'>looks_two</i>
        <h5 class='orange-text'>Cast your votes</h5>
        <i class='material-icons orange-text medium'>looks_3</i>
        <h5 class='orange-text'>Share your voice</h5>
      </div>
    </div>
  </div>
</main>
