<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>slactivism</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="icon" type="image/png" href="/img/sloth.png">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <div class='navbar-fixed'>
      <ul id="dropdown1" class="dropdown-content">
        <li><a class='orange-text' href='/auth/signup'>signup</a></li>
        <li class='divider'></li>
        <li><a class='orange-text modal-trigger' href='#modal1'>login</a></li>
        <li class='divider'></li>
        <li><a class='orange-text' href='/profile'>my profile</a></li>
        <li class='divider'></li>
        <li><a class='orange-text' href='/profile/ballots'>my ballots</a></li>
        <li class='divider'></li>
        <li><a class='orange-text' href='/auth/logout'>logout</a></li>
      </ul>
    <nav class='white'>
      <div class='nav-wrapper'>
        <a href='/' class='blue-text brand-logo'>slacktivism</a>
        <ul id="nav-mobile" class="right">
          <li><a class="dropdown-button blue-text" href="#!" data-activates="dropdown1">menu<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
    </div>

    <div>
      <% include partials/alerts %>
      <%- body %>
    </div>

    <script type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type='text/javascript' src='https://apis.google.com/js/client.js?onload=load'></script>
    <script type='text/javascript' src='/js/app.js'></script>

  </body>
</html>
