body {
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hero {
  height: 400px;
  width: auto;
  text-align: center;
}

.hero-box {
  height: 200px;
  width: 70%;
  display: inline-block;
}

.hero-text {
  text-align: left !important;
}

#slacktivism {
  margin-top: 0px;
  padding-top: 20px;
}

main {
  padding: 20px;
  text-align: center;
}

.left-content, .right-content {
  display: inline-block;
  margin: 10px 10px;
}

.left-content, .right-content {
  height: 300px;
  width: 400px;
}

.navbar {
  height: 100px;
}

.navbar h1 {
  display: inline-block;;
  text-align: left;
  margin: 30px 30px;
}

.navbar a {
  padding: 0 10px;
  text-align: right;
}

.navbar-title {
  display: inline-block;
}

.navbar-links {
  text-align: right;
  display:inline-block;
}

form {
  margin: 20px;
}

.input-field input:focus + label {
  color: #2196f3 !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important
}

.input-field input:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important
}

ul.dropdown-content.select-dropdown li span {
    color: #2196f3;
}

.repheadshot {
  display: inline-block;
  background-repeat: no-repeat;
  border-radius: 100%;
  background-attachment: scroll;
  background-size: 100%;
  transition: opacity .25s;
  height: 200px;
  width: 200px;
}

.repinfo {
  display: inline-block;
}

.profile-info {
  display: inline-block;
  padding: 1%;
  margin: 1%;
  height: 200px;
  width: 200px;
  vertical-align: text-top;
}

.bill-container {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.bill-scroller {
  height: 400px;
  overflow: scroll;
}

.action:hover {
  opacity: 0.5;
}

.repcard, .norep {
  text-align: center;
  margin: 10px;
}

li {
  padding: 5px 0px;
  margin: 5px 0px;
}

.link {
  text-decoration: underline;
}

.name {
  font-size: 20px !important;
}

.inline {
  display: inline-block !important;
  padding-left: 10px;
  padding-right: 10px;
}

.centered {
  text-align: center;
}

.block {
  display: block;
}

.image-slider {
  height: 300px !important;
}

.footer-link {
  color: white;
  text-decoration: underline;
}

#footer-text {
  text-align: center;
}

#copyright {
  text-align: center;
}
