body {
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: 'Noto Sans', sans-serif;
}

.navbar {
  height: 100px;
}

.navbar h1 {
  display: inline-block;;
  text-align: left;
  margin: 30px 30px;
}

.navbar a {
  padding: 0 10px;
  text-align: right;
}

.navbar-title {
  display: inline-block;
}

.navbar-links {
  text-align: right;
  display:inline-block;
}

.repheadshot {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  border-radius: 100%;
  background-attachment: scroll;
  background-size: 100%;
  transition: opacity .25s;
}

.repinfo {
  display: inline-block;
}

.headshot-wrapper {
  display: inline-block;
  padding: 1%;
  margin: 1%;
}

.bill-container {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.bill-scroller {
  height: 400px;
  overflow: scroll;
}

.action:hover {
  opacity: 0.5;
}

.repcard, .norep {
  text-align: center;
  margin: 10px;
}

li {
  padding: 5px 0px;
  margin: 5px 0px;
}

.link {
  text-decoration: underline;
}

.name {
  font-size: 20px !important;
}

.inline {
  display: inline-block !important;
  padding-left: 10px;
  padding-right: 10px;
}

.centered {
  text-align: center;
}

.block {
  display: block;
}
